{% extends 'base.html' %}

{% block content %}

    <p>Manager: {{ manager.manager }}
        <a href="" class="btn btn-primary">Change</a>
    </p>

    {% for member in object_list %}
        <p><a href="">{{ member.member_name }}</a>
            <a href="" class="btn btn-primary">Delete</a>
        </p>
    {% endfor %}

    {% for task in tasks %}
        <p>{{ task }}
            <a href="" class="btn btn-primary">End</a>
            <a href="" class="btn btn-primary">Delete</a>
        </p>

    {% endfor %}

    <a href="" class="btn btn-primary">Add member</a>
    <a href="" class="btn btn-primary">Add Task</a>
    <a href="" class="btn btn-danger">Team Delete</a>

{% endblock %}
